<% title 'Visits' %>

<div class="row">
  <div class="six columns">
    <h1>
      <%= @filter.name %> Visits
      <small><%= @filter.web_property_id %></small>
    </h1>
  </div>

  <div class="six columns buttons">
    <%= link_to 'Run Analytics Import', filter_import_path(@filter), class: 'button' %>
    <%= link_to 'Delete', filter_path(@filter), method: :delete, confirm: "Are you sure you want to delete the filter '#{@filter.name}' and ALL its visits? This cannot be undone.", class: 'red button' %>
  </div>
</div>

<% if @visits.blank? %>
  <p>
    This filter hasn't had any visits registered yet.
    <br />
    <%= link_to 'Click here to import them from Google Analytics.', filter_import_path(@filter) %>
  </p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Path</th>
        <th>Unique Pageviews</th>
      </tr>
    </thead>
    <tbody>
      <% @visits.each do |visit| %>
        <tr>
          <td><%= visit.path %></td>
          <td><%= visit.pageviews %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
