<% title 'Filters' %>

<% if @filters.blank? %>
  <div class="alert-box">
    <h2>You don't have any filters!</h2>
    <p>
      In order to use the site, you've got to setup a filter. This will determine which of your sites you'd like to import Google Analytics views from.
      <br />
      <%= link_to "Create one now!", :new_filter %>
    </p>
  </div>
<% else %>
  <h1>
    Your Filters
    <small><%= link_to '+ New', :new_filter %></small>
  </h1>
  <table>
    <thead>
      <tr>
        <th>Filter Name</th>
        <th>Filter Path</th>
        <th>Number of Views</th>
      </tr>
    </thead>
    <tbody>
      <% @filters.each do |filter| %>
        <tr>
          <td><%= link_to filter.name, filter_visits_path(filter) %></td>
          <td><%= filter.path %></td>
          <td><%= filter.visits.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </ul>
<% end %>
