<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'BuzzAnalytics' %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="container">
        <h1><%= link_to 'BuzzAnalytics', :root %></h1>
        <div class="right">
          <% if user_signed_in? %>
            <%= link_to "Logout", :logout, method: :delete %>
          <% end %>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
